<form #form="ngForm">
  <img
    [src]="image | async"
    thaImageInput
    [changeButton]="imgBtn"
    [disabled]="false"
    ngModel
    name="image"
    (ngModelChange)="modelChange($event)"
    thaAnimateResize
    duration="300">
</form>
<button #imgBtn>Change Image</button>
<button (click)="changeImage()">reset image</button>

<pre>{{form.value | json}}</pre>

<tha-substitute thaSubstituteScope="test"></tha-substitute>

<app-test [a]="1"></app-test>

<button (click)="overlay.open()">Open Overlay</button>
<button (click)="openOverlay()">Open Overlay Programmatically</button>

<tha-overlay #overlay>
  <button (click)="overlay.close({yepp: true})">Submit</button>
</tha-overlay>

<textarea resize="both" >
  dsadsa
</textarea>

<form #arrayForm="ngForm">
  <div thaArrayModel name="foo">
    <input *ngFor="let item of arrayInputs" formControl [thaArrayItem]="item">
  </div>
  <button (click)="arrayInputs.push(null)"> Add Input to array</button>
</form>
<pre>{{arrayForm.value | json}}</pre>

<form>
  <div formControl thaArrayModel name="list" #list="thaArrayModel">
    <ng-template ngFor let-item [ngForOf]="arrayInputs">
      <input formControl [thaArrayItem]="item" #itemModel="thaArrayItem" required>
      <pre>{{itemModel.value}}</pre>
    </ng-template>
  </div>
</form>

<pre>{{list.errors | json}}</pre>
